.files-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
}

.files-header {
  padding: 10px 10px 5px 10px;
  background: var(--primary-dark);
}

.files-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  background: var(--primary-lite);
  border-radius: 0 0 12px 12px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--shadow-sm);
}

.files-header h3 {
  margin: 0;
  color: white;
}

.files-header p {
  margin: 0;
  color: var(--gray-300);
  font-size: 12px;
}

.files-actions {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.file-input {
  display: none;
}

.status {
  color: var(--gray-300);
  font-size: 12px;
}

.error {
  color: var(--error-color);
  font-size: 12px;
}

.files-list {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  overflow-y: auto;
  background: var(--primary-dark);
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-sm);
  padding: 10px;
  background: var(--primary-light);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.file-item:hover {
  box-shadow: var(--shadow-lg);
}

.file-name {
  color: white;
}

.file-meta {
  color: var(--gray-300);
  font-size: 10px;
}

.btn-delete {
  padding: 6px 10px;
  background: transparent;
  color: white;
  border-radius: var(--radius-sm);
  transition: all var(--transition-base);
  flex-shrink: 0;
  opacity: 0;
}

.file-item:hover .btn-delete {
  opacity: 1;
}

.btn-delete:hover {
  background: var(--error-color);
  color: white;
  transform: scale(1.1);
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
  background: var(--primary-dark);
  width: 100%;
  height: 100vh;
}

.empty-state h3 {
  font-size: 17px;
  font-weight: 400;
}

.empty-state p {
  font-size: 12px;
}
