.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--primary-light);
  border-radius: 12px 12px 0 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: visible;
}

.custom-select-container {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.selected-value {
  padding: 8px 16px;
  background: var(--primary-lite);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.selected-value:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}

.selected-value.active {
  box-shadow: var(--shadow-lg);
}

.custom-options-wrapper {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 100%;
  background: var(--primary-lite);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
}

.custom-option {
  padding: 10px 16px;
  cursor: pointer;
  color: white;
  transition: background 0.2s;
  background: var(--primary-lite);
}

.custom-option:hover {
  background: var(--primary-light);
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}

.arrow {
  transition: transform 0.3s;
}
.arrow.open {
  transform: rotate(180deg);
}

.model-description {
  color: white;
  padding: 0 12px;
  border-left: 2px solid white;
}

.status {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 30px;
  background: var(--primary-lite);
  border-radius: var(--radius-md);
  transition: all var(--transition-base);
  border: none;
}

.status.loading {
  background: var(--primary-lite);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.chat-window {
  background: var(--primary-dark);
  padding: 25px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  min-height: 100%;
}

.empty-state h3 {
  font-size: 17px;
  font-weight: 400;
}

.empty-state p {
  font-size: 12px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: var(--spacing-lg);
}

.typing-indicator {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 15px;
  border-radius: var(--radius-lg);
}

.typing-indicator .dot {
  width: 5px;
  height: 5px;
  background: var(--gray-400);
  border-radius: 50%;
  animation: typing 1.5s infinite;
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0.1s;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.3s;
}

.typing-indicator .dot:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%,
  60%,
  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
  30% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.chat-input-wrapper {
  padding: 10px;
  background: var(--primary-light);
  border-radius: 0 0 12px 12px;
}

.chat-input {
  display: flex;
  gap: var(--spacing-xs);
  gap: 10px;
}

.chat-input textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: var(--radius-md);
  color: white;
  background: var(--primary-lite);
  border: none;
  transition: all var(--transition-base);
  overflow-y: auto;
  min-height: 40px;
  max-height: 180px;
}

.chat-input textarea:focus {
  box-shadow: var(--shadow-lg);
  background: var(--primary-lite);
}

.chat-input textarea:hover:not(:disabled) {
  box-shadow: var(--shadow-lg);
  background: var(--primary-lite);
}

.chat-input textarea:disabled {
  background: var(--primary-lite);
  cursor: not-allowed;
  color: var(--gray-500);
}

.input-actions {
  display: flex;
  align-items: center;
}

.file-input-wrapper {
  display: flex;
  align-items: center;
}

.file-input {
  display: none;
}

.btn-remove {
  color: var(--error-color);
}

.file-meta {
  margin-top: 10px;
  color: var(--gray-300);
  font-size: 12px;
}

.file-error {
  color: var(--error-color);
}
